<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @weibo.content %>
</p>

<p>
  <b>Useer:</b>
  <%= @weibo.useer_id %>
</p>


<%= link_to 'Edit', edit_weibo_path(@weibo) %> |
<%= link_to 'Back', weibos_path %>
